# Visual Studio / Rider / IDE
.vs/
*.user
*.suo
*.userosscache
*.sln.docstates

# Build
api-dotnet/obj/
api-dotnet/bin/
api-dotnet/.vs/
ApiDotnet.Tests/bin/
ApiDotnet.Tests/obj/
ApiDotnet.Tests/.vs/
ApiDotnet.Tests/TestResults/

# Logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Node / JS
node_modules/

# Uploads
api-dotnet/Uploads/

# Environment
.env

# macOS
.DS_Store

# Package locks
*.lock.json
